@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply font-sans;
}

@layer utilities {}

@layer base {
  .content-body {
    @apply text-sm font-light;
  }

  ul {
    @apply mt-2;

    li {
      @apply ml-4 relative;

      &:before {
        @apply absolute top-0 -left-4;
        content: "-";
      }
    }
  }

  a {
    @apply underline;
  }
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

html {
  /* font-size: 85%; */
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
  font: 12pt "Tahoma";
}

@page {
  size: A4;
  margin: 0;
}
